*{
    margin: 0;
    padding: 0;
}

.Navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px  0 0 0;
}

.Navbar div img{
    height: 50px;
    cursor: pointer;
}

.navlist{
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.right{
    width: 40%;
}

.right ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}